.first-view-main-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 0 10px;

  > .first-view-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}


@media screen and (min-width: 1281px) {
  .first-view-main {
    width: 62vw;
  }
}

.import-account {
  display: flex;
  flex-flow: column nowrap;
  margin: 60px 0 30px 0;
  position: relative;
  max-width: initial;
}

@media only screen and (max-width: $break-small) {
  .import-account {
    margin: 24px;
    display: flex;
    flex-flow: column nowrap;
    width: calc(100vw - 80px);
  }

  .import-account__title {
    width: initial !important;
  }

  .first-view-main {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 12px;
  }

  .first-view-phone-invisible {
    display: none;
  }

  .first-time-flow__input {
    width: 100%;
  }
}

.import-account {
  &__title {
    @include H1;

    color: #1b344d;
    margin-bottom: 10px;
  }

  &__back-button {
    @include Paragraph;

    margin-bottom: 18px;
    color: #22232c;
    position: absolute;
    top: -25px;
  }

  &__selector-label {
    @include Paragraph;

    color: #1b344d;
  }

  &__selector-typography {
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000;
    margin-top: 18px;
    margin-bottom: 16px;
  }
}

.reveal-seed {
  a {
    color: var(--primary-blue);
  }

  &__content {
    padding: 20px;
  }

  &__label {
    font-weight: 700;
    font-size: 14px;
    color: var(--ui-black);
  }

  &__error {
    @include H6;

    color: var(--crimson);
    padding-top: 5px;
  }

  &__buttons {
    color: var(--ui-4);
    background-color: var(--neutral-white);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--ui-4);
    width: 100%;

    &__active {
      border-color: var(--primary-blue);
      border-width: 0 0 2px 0;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    color: var(--ui-4);
    background-color: var(--neutral-white);
    margin-bottom: 10px;

    &__active {
      color: var(--primary-blue);
    }
  }
}

.page-container__footer-single-button {
  width: 90%;
  margin: 8px auto;
  min-height: 40px;
}
