.export-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--ui-4);
  border-radius: 4px;
  font-weight: 400;

  &__text-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 4px;
  }

  &__text {
    @include H4;

    resize: none;
    border: none;
    color: var(--ui-4);
    text-align: center;
  }

  &__buttons-container {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--primary-blue);
    width: 90%;
    border-radius: 100px;
    margin: 16px;
  }

  &__button {
    @include H7;

    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--primary-blue);
  }

  &__button-text {
    padding-left: 10px;
  }
}
