.add-network {
  &__header {
    border-bottom: 1px solid var(--ui-grey);

    &__back-icon {
      margin-left: 24px;
      margin-right: 16px;
    }
  }

  &__warning-tooltip {
    color: var(--ui-4);
    width: 180px;

    a {
      color: var(--primary-1);
    }
  }

  &__add-icon {
    height: 16px;
    width: 12px;
    color: var(--ui-4);
    margin-left: auto;
    margin-right: 0;
  }

  &__add-button {
    color: var(--primary-1);
    font-size: $font-size-h7;
    margin-left: 24px;
  }

  &__footer {
    border-top: 1px solid var(--ui-2);

    & .btn-link {
      display: initial;
      padding: 0;
    }

    &__link {
      color: var(--primary-1);
    }

    & .actionable-message--warning .actionable-message__message,
    .actionable-message--warning .actionable-message__action {
      color: var(--ui-4);
    }
  }
}


