@use "design-system";

p#search-networks-helper-text {
  color: var(--color-text-alternative);
}

.imageclosectn {
  cursor: pointer;
}

.networks-tab {
  &__content {
    display: flex;
    height: 100%;
    max-width: 779px;
    justify-content: space-between;

    &__custom-image {
      background: var(--color-background-alternative);
      border: none;
    }

    &__check-icon {
      margin-inline-end: 10px;

      &__transparent {
        color: var(--white);
        width: 16px;
        margin-inline-end: 10px;
      }
    }

    &__icon-with-fallback {
      padding: 0 1px 2px 2px;
      color: var(--white);

      @each $variant, $color in design-system.$color-map {
        &--color-#{$variant} {
          background: var($color);
          color: var(--white);
        }
      }
    }

    @media screen and (max-width: $break-small) {
      margin-top: 0;
      flex-direction: column;
      overflow-x: hidden;
      align-items: center;
    }
  }

  &__body {
    padding-right: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $break-small) {
      padding: 0;
    }
  }

  &__subheader {
    @include H4;

    padding: 16px 4px;
    border-bottom: 1px solid var(--alto);
    height: 72px;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
  }

  &__subheader--break {
    margin-inline-start: 10px;
  }

  &__sub-header-text {
    @include H4;

    color: var(--ui-4);
    margin-right: 10px;
  }

  &__network-form {
    display: flex;
    flex: 1 0;
    flex-direction: column;
    justify-content: space-between;
    max-height: 465px;
    max-width: 400px;
    margin-top: 24px;
    padding-inline-start: 24px;

    .page-container__footer {
      border-top: none;

      @media screen and (max-width: $break-small) {
        width: 93%;
      }

      footer {
        padding: 10px 0;
      }
    }

    @media screen and (max-width: $break-small) {
      display: flex;
      flex: auto;
      max-width: 100%;
      max-height: 100%;
      align-items: center;
      width: 90%;
      margin-top: 10px;
      padding: 0;
    }
  }

  &__add-network-form {
    display: flex;
    flex-direction: column;
    max-height: 465px;
  }

  &__network-form-body {
    display: grid;
    grid-template-columns: 100%;
    width: 95%;

    &__view-only {
      width: 100%;
    }
  }

  &__add-network-form-body {
    display: grid;
    grid-template-columns: 48% 48%;
    // row-gap: 10%;
    column-gap: 5%;
    margin-top: 24px;
    width: 100%;
  }

  &__network-form-row {
    @media screen and (max-width: $break-small) {
      width: 99%;
    }
  }

  &__network-form-label {
    display: flex;
    align-items: center;
  }

  &__network-form-label-text {
    @include H6;

    color: #000;
    font-weight: bold;
  }

  &__network-form-label-tooltip {
    @include H7;

    margin-left: 5px;
  }

  &__networks-list {
    flex: 0.5 0 auto;
    max-width: 350px;
    border-right: 1px solid #d8d8d8;

    &__custom-search-network {
      margin-top: 24px;
    }

    .MuiInput-input {
      font-size: 14px;

      @media screen and (max-width: $break-small) {
        font-size: 12px;
      }
    }

    .MuiTextField-root {
      padding-inline-end: 16px;

      @media screen and (max-width: $break-small) {
        padding: 0 24px 0 24px;
      }
    }

    &__label {
      @media screen and (max-width: $break-small) {
        margin-inline-start: 50px;
        padding-bottom: 12px;
      }
    }

    @media screen and (max-width: $break-small) {
      flex: 1;
      overflow-y: auto;
      max-width: 100vw;
      width: 100vw;
      margin-top: 0;
    }
  }

  &__networks-list-popup-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 23px;
    padding-bottom: 23px;
    border-top: 1px solid #d8d8d8;

    .button {
      width: 178px;
    }
  }

  &__add-network-header-button-wrapper {
    justify-content: center;

    .button {
      width: 138px;
      padding: 10px;
    }

    @media screen and (max-width: $break-small) {
      display: none;
    }
  }

  &__networks-list--selection {
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }

  &__networks-list-item {
    display: flex;
    padding: 12px 24px 12px 0;
    position: relative;
    align-items: center;
    width: 311px;

    .color-indicator {
      &:hover {
        cursor: pointer;
      }

      @media screen and (max-width: $break-small) {
        margin: 0 4px 0 20px;
      }
    }

    @media screen and (max-width: $break-small) {
      padding: 12px 0 12px 24px;
      max-width: 351px;
    }
  }

  &__networks-list-item:last-of-type {
    @media screen and (max-width: $break-small) {
      border-bottom: none;
    }
  }

  &__networks-list-name {
    @include Paragraph;

    margin-left: 11px;
    color: var(--color-text-muted);
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

    svg {
      margin-inline-start: 15px;
      padding-top: 3px;
    }

    @media screen and (max-width: $break-small) {
      color: var(--color-text-default);
    }
  }

  &__networks-list-name--selected {
    font-weight: bold;
    color: var(--color-text-default);

    @media screen and (max-width: $break-small) {
      font-weight: normal;
      color: var(--color-text-default);
    }
  }

  &__networks-list-name--disabled {
    color: var(--color-text-muted);

    @media screen and (max-width: $break-small) {
      color: var(--color-text-default);
    }
  }

  &__network-form-footer {
    display: flex;
    flex-flow: row nowrap;
    padding: 0.75rem 0;
    width: 95%;

    @media screen and (max-width: $break-small) {
      width: 93%;
    }

    .btn-secondary {
      margin-right: 0.375rem;
    }

    .btn-primary {
      margin-left: 0.375rem;
    }

    .btn-danger {
      margin-right: 3.75rem;
    }
  }

  &__add-network-form-footer {
    display: flex;
    flex-flow: row;
    padding: 0.75rem 0;
    width: 60%;

    .btn-secondary {
      margin-right: 0.5rem;
    }

    .btn-primary {
      margin-left: 0.5rem;
    }
  }
}
